*{
	margin: 0;
	padding: 0;
}
 body,h1,h2,h3,h4,h5,h6,p,span,input,textarea,button{
 	font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
 }
/* header section code */
header{
	width: 100%;
	padding: 10px 0px;
	border-bottom: 2px solid #eee;
}
.container{
	width: 1140px;
	margin: auto;

}
.navbar{
	display: flex;
	justify-content: space-between;
}

.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 12px;
	margin-top: 16px;
}
.menu ul li a{
	text-decoration: none;
}
/* banner code start */
#banner{
	width: 100%;
	padding: 40px 0;
	text-align: center;
}
 .banner-content h1{
 	font-size: 56px;
 	margin-bottom: 16px;
 }
 .banner-content span{
 	color: #5181d7;
 }
 .banner-content p{
 	font-weight: 300;
 	margin-bottom: 32px;
 	line-height: 1.7;
 }
 /*statistics code start*/
 #about{
 	width: 100%;
 	padding: 40px 0;
 }
 .about-content{
 	display: flex;
 }
 .left{
 	flex-basis: 50%;
 	text-align: right;
 	padding-right: 2px;
 }
 .right{
 	flex-basis: 50%;
 	text-align: left;
 	padding-left: 20px;
 }
 .left h2{
 	font-size: 42px;
 	color: #e74242;
 	margin-bottom: 8px;
 }
 .left p{
 	font-weight: 300;
 	line-height: 1.5;
 }
 .right h2{
 	font-size: 42px;
 	color: #3f3d56;
 }
 /*service section code start*/
 #service{
 	width: 100%;
 	padding: 40px 0;
 }
 .service-content{
 	display: grid;
 	grid-template-columns: auto auto auto;
 }
 .service-item{
 	margin: 20px;
 	padding: 16px;
 }
 .three{
 	background: #fff7e8; 
 }
 .two{
 	background: #ebf9f4;

 }
 .one{
 	background: #fdebed;
 }

.service-item h4{
	font-size: 20px;
	margin-bottom: 12px;
	font-weight: 600;
}
.service-item p{
	font-weight: 300;
}
/* footer code start  */

footer{
	background: #008aff ;
	padding: 20px 0;
	text-align: center;

}
.footer-icon ul li{
	list-style: none;
	display: inline-block;
	margin: 0 16px;

}
.footer-icon ul li a i{
	height: 40px;
	width: 40px;
	background: #47c4ff;
	color: white;
	line-height: 40px;
	border-radius: 100%;
	transition: 0.3s;
}
.footer-icon ul li a i:hover{
	transform:  rotate(360deg);
	transition: 0.3s;

}

